@mixin box-treatment {
	display: block;
	overflow: hidden;
	width: 100%;
}
@mixin layout{
  width:1140px;
  height:756px;
  margin:0 auto;
  position: relative;
}
@mixin layout_respos_one{
  width:980px;
  height:100vh;
  margin:0 auto;
  position: relative;
}
@mixin black_block{
  width:100%;
  display:block;
  position:relative;
  font-family: $font-family-main;
  background-color:#111111;
}
@mixin headline{
  font-size:2.75em;
  width:100%;
  text-align: center;
  font-family:$font-family-logo;
  font-weight:300;
  text-transform: uppercase;
  color:#ffff;
  padding:100px 0;
  position: relative;
}
@mixin underline-after{
   &:after{
    content: '';
    position: absolute;
    top:166px;
    left:46%;
    height:4px;
    background-color:#fcac45;
    width:8.6%;
  }
}
@mixin underline-before{
  &:before{
    content: '';
    position: absolute;
    top:180px;
    left:47.4%;
    height:4px;
    background-color:#fdc57c;
    width:5.78%;
  }
}
@mixin underline-before-black{
   &:before{
    content: '';
    position: absolute;
    top:180px;
    left:47.4%;
    height:4px;
    background-color:#b37b33;
    width:5.78%;
  }
}
@mixin paragraph-italic{
  font-style: italic;
  color:#898989;
  font-family:$font-family-logo;
  font-size:1em;
  padding:2px 2px 54px 2px;
}
@mixin paragraph-slider{
  font-size: 1.12em;
  color:#9e9e9e;
  text-transform: uppercase;
  padding:0 2px 12px 2px;
  font-weight: 600;
  line-height: 20px;
}
@mixin paragraph-name{
  color:#b2b2b2;
  font-size: 1.12em;
  padding:18px 2px 0px 2px;
  text-transform: none;
  font-weight: 600;
}
@mixin inputs{
  border:1px solid #999999;
  height: 40px;
  width:360px;
  margin:25px 0;
 } 
@mixin paragraph-form{
  font-size: 0.87em;
  color:#8d8d8d;
  padding:10px 0;
  &:after{
    content: '*';
    color:#db0000;
  }
}
@mixin transition-treatment_1 {
  -webkit-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

@mixin clearfix {
  &:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
  }
}
@mixin vertical-align{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
