/* wrapper */
#wrapper {
	display:block;
	position:relative;
	width:100%;
	height:100%;
@media screen and (max-width: 1023px){
	width:100%;
}
main{
	display:block;	
#content{
    display:none;
	position:relative;
	width:100%;
	height:auto;
@media screen and (max-width: 895px){
	display:block;
}	
	&.active{
		display:block;
		height: auto;
	}
.hd_to_main{
	display:block;
	width:100%;
	overflow:hidden;
.link{
	display:block;
}	
}	
}	
}	
}
