.works{
	@include black_block;
	background-color:#ffff;
.layout{
	@include layout;
	height:auto;
@media screen and (max-width: 1279px){
    @include layout_respos_one;
    height:auto;
}    	
@media screen and (max-width: 1023px){
	@include layout_respos_one;
	height:auto;
    margin-bottom:80px;
}
@media screen and (max-width: 895px){
	@include layout_respos_one;
    width:680px;
    height: auto;
}
@media screen and (max-width: 735px){
    @include layout_respos_one;
    width:580px;
    height: auto;
}
@media screen and (max-width: 567px){
    @include layout_respos_one;
    width:480px;
    height: auto;
}
@media screen and (max-width: 479px){
    @include layout_respos_one;
    width:320px;
    height:auto;
}	
.top-works{
	display:block;
	text-align:center;
h3{
	@include headline;
	color:#222222;
	@include underline-after;
	@include underline-before;
@media screen and (max-width: 735px){
    font-size:2.3em;
    &:before{
    	width:8.5%;
    }
    &:after{
    	width:11.5%;
    }
}
@media screen and (max-width: 567px){
	font-size:2em;
	&:before{
    	width:10%;
    }
    &:after{
    	width:13.5%;
    }
}
@media screen and (max-width: 479px){
	font-size:1.8em;
}    		
span{
	font-weight:600;
}	
}
p{
	@include paragraph-italic;
}	
}
.container{
	position: relative;
	width:100%;
	padding:80px 0 24px 0;
@media screen and (max-width: 479px){
	padding:40px 0 24px 0;
}	
h4{
	float:left;
	color:#222222;
	font-size:1.12em;
	font-weight:600;
	text-transform:uppercase;
@media screen and (max-width: 567px){
	float:none;
	padding:10px 12px;
}
@media screen and (max-width: 479px){
	text-align: center;
}	
}
.filter-links{
	float:right;
@media screen and (max-width: 567px){
	float:none;
}
@media screen and (max-width: 479px){
	text-align: center;
}	
li{
	display:inline-block;
a{
	display:block;
	font-size:1.12em;
	position: relative;
	padding:0 12px;
	color:#888888;
@media screen and (max-width: 479px){
	font-size:1em;
}	
	&:after{
		content:'';
		position: absolute;
		height: 100%;
		border:1px solid #6c6c6c;
		top:0;
		width:0;
		margin:0 15px;
	}
	&:hover{
		color:#222222;
		font-weight:600;
	}
	&:hover{
		   &:after{
		       border:1px solid #919191;
		   }	
		}
}	
}	
}	
}
.main-list{
	display:flex;
	flex-wrap:wrap;
	padding:25px 0 50px 0;
@media screen and (max-width: 895px){
    padding:25px 50px 50px 50px;
	}
@media screen and (max-width: 735px){
	padding:0;
}
@media screen and (max-width: 567px){
	width:100%;
}		
li{
	padding:13px;
	width:23%;
	overflow:hidden;
	height:237px;
	position: relative;
@media screen and (max-width: 1279px){
	padding:13px 8px;
	width:23.5%;
}	
@media screen and (max-width: 1023px){
	padding:13px 8px;
	width:23.5%;
}
@media screen and (max-width: 895px){
	width:40%;
	padding:13px;
}
@media screen and (max-width: 735px){
	width:45%;
}
@media screen and (max-width: 567px){
	width:52%;
	margin:0 auto;
}
@media screen and (max-width: 479px){
	width:72%;
}
	&:first-child{
		padding-left:0;
	@media screen and (max-width: 895px){
		padding-left:13px
	}	
	}
	&:nth-child(5){
		padding-left:0;
	@media screen and (max-width: 895px){
		padding-left:13px
	}
	}
	&:nth-child(9){
		padding-left:0;
	@media screen and (max-width: 895px){
		padding-left:13px
	}	
	}
.front{
	position: relative;
	width:100%;
	height: 100%;
	&:hover .backside{
		top:0px;
		z-index:9999;
	}	
img{
	width:100%;
	height: 100%
}			
.backside{
	position: absolute;
	top:-100%;
    z-index:-9999;
	width:100%;
	height: 100%;
	background-color:#222222;
	text-align: center;
	left:0;
	right:0;
	bottom:0;
	box-sizing:border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;  
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s; 
@media screen and (max-width: 1023px){
	top:-110px;
}    
	&:after{
		content: url('../images/icon_forma.png');
		position: absolute;
		left:43%;
    	top:137px;	
	}
h4{
	font-size:1em;
	text-transform: uppercase;
	color:#ffff;
	padding:68px 0 8px;
	font-weight:600;
}
p{
	font-size:0.87em;
	color:#737373;
	font-weight:600;
	padding:8px 0;
}
}
}
}
}
}	
}	
	